<meta charset="UTF-8">
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://www.cognizant.com/careers" target="_blank">Careers &nbsp; &bull;
                    &nbsp;<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://news.cognizant.com/" target="_blank">News &nbsp; &bull; &nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.cognizant.com/events" target="_blank">Events &nbsp; &bull;
                    &nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://investors.cognizant.com/" target="_blank">Investors &nbsp; | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.cognizant.com/locations" target="_blank">🌐 &nbsp; Worldwide</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">🔍</a>
            </li>
        </ul>
    </div>
</nav>