.container {
    position: relative;
    left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: auto;
    height: auto;
    display: inline-block;
}

.logo {
    position: relative;
    left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 40px;
}