<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
  <a class="navbar-brand" routerLink="/">Cognizant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Industries
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.cognizant.com/banking-financial-technology-solutions"
            target="_blank">Banking & Financial
            Services</a>
          <a class="dropdown-item" href="https://www.cognizant.com/csp-technology-solutions"
            target="_blank">Communications</a>
          <a class="dropdown-item" href="https://www.cognizant.com/consumer-goods-technology-solutions"
            target="_blank">Consumer Goods</a>
          <a class="dropdown-item" href="https://www.cognizant.com/education-technology-solutions"
            target="_blank">Education</a>
          <a class="dropdown-item" href="https://www.cognizant.com/energy-utilities-technology-solutions"
            target="_blank">Energy &
            Utilities</a>
          <a class="dropdown-item" href="https://www.cognizant.com/healthcare-technology-solutions"
            target="_blank">Healthcare</a>
          <a class="dropdown-item" href="https://www.cognizant.com/information-systems-technology-solutions"
            target="_blank">Information
            Services</a>
          <a class="dropdown-item" href="https://www.cognizant.com/insurance-technology-solutions"
            target="_blank">Insurance</a>
          <a class="dropdown-item" href="https://www.cognizant.com/life-sciences-technology-solutions"
            target="_blank">Life
            Sciences</a>
          <a class="dropdown-item" href="https://www.cognizant.com/manufacturing-technology-solutions"
            target="_blank">Manufacturing</a>
          <a class="dropdown-item" href="https://www.cognizant.com/media-entertainment-technology-solutions"
            target="_blank">Media &
            Entertainment</a>
          <a class="dropdown-item" href="https://www.cognizant.com/retail-technology-solutions"
            target="_blank">Retail</a>
          <a class="dropdown-item" href="https://www.cognizant.com/technology-solutions" target="_blank">Technology</a>
          <a class="dropdown-item" href="https://www.cognizant.com/transportation-logistics-technology-solutions"
            target="_blank">Transportation & Logistics</a>
          <a class="dropdown-item" href="https://www.cognizant.com/travel-hospitality-technology-solutions"
            target="_blank">Travel &
            Hospitality</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Latest Thinking
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-cognizant">About</a>
      </li>
    </ul>
  </div>
</nav>