<div class="logo">
  <p style="color: blue;"><strong>Cognizant</strong></p>
</div>
<div class="container">
  <div class="dropdown show">    
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Industries
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a href="https://www.cognizant.com/banking-financial-technology-solutions" target="_blank"
        class="dropdown-item">Banking & Financial Services</a>
      <a href="https://www.cognizant.com/csp-technology-solutions" target="_blank"
        class="dropdown-item">Communications</a>
      <a href="https://www.cognizant.com/consumer-goods-technology-solutions" target="_blank"
        class="dropdown-item">Consumer Goods</a>
      <a href="https://www.cognizant.com/education-technology-solutions" target="_blank"
        class="dropdown-item">Education</a>
      <a href="https://www.cognizant.com/energy-utilities-technology-solutions" target="_blank"
        class="dropdown-item">Energy & Utilities</a>
      <a href="https://www.cognizant.com/healthcare-technology-solutions" target="_blank"
        class="dropdown-item">Healthcare</a>
      <a href="https://www.cognizant.com/information-systems-technology-solutions" target="_blank"
        class="dropdown-item">Information Services</a>
      <a href="https://www.cognizant.com/insurance-technology-solutions" target="_blank"
        class="dropdown-item">Insurance</a>
      <a href="https://www.cognizant.com/life-sciences-technology-solutions" target="_blank" class="dropdown-item">Life
        Sciences</a>
      <a href="https://www.cognizant.com/manufacturing-technology-solutions" target="_blank"
        class="dropdown-item">Manufacturing</a>
      <a href="https://www.cognizant.com/media-entertainment-technology-solutions" target="_blank"
        class="dropdown-item">Media & Entertainment</a>
      <a href="https://www.cognizant.com/retail-technology-solutions" target="_blank" class="dropdown-item">Retail</a>
      <a href="https://www.cognizant.com/technology-solutions" target="_blank" class="dropdown-item">Technology</a>
      <a href="https://www.cognizant.com/transportation-logistics-technology-solutions" target="_blank"
        class="dropdown-item">Transportation & Logistics</a>
      <a href="https://www.cognizant.com/travel-hospitality-technology-solutions" target="_blank"
        class="dropdown-item">Travel & Hospitality</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="dropdown show">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Services
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a href="https://www.cognizant.com/banking-financial-technology-solutions" target="_blank"
        class="dropdown-item">Banking & Financial Services</a>
      <a href="https://www.cognizant.com/csp-technology-solutions" target="_blank"
        class="dropdown-item">Communications</a>
      <a href="https://www.cognizant.com/consumer-goods-technology-solutions" target="_blank"
        class="dropdown-item">Consumer Goods</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="dropdown show">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Latest Thinking
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="https://www.cognizant.com/consumer-goods-technology-solutions" target="_blank"
        class="dropdown-item">Lotta links</a>
        <a href="https://www.cognizant.com/consumer-goods-technology-solutions" target="_blank"
        class="dropdown-item">Consumer Goods</a>
        <a href="https://www.cognizant.com/consumer-goods-technology-solutions" target="_blank"
        class="dropdown-item">Consumer Goods</a>
        <a href="https://www.cognizant.com/consumer-goods-technology-solutions" target="_blank"
        class="dropdown-item">Consumer Goods</a>
        <a href="https://www.cognizant.com/consumer-goods-technology-solutions" target="_blank"
        class="dropdown-item">Consumer Goods</a>
    </div>
  </div>
</div>

<div class="container">
  <a class="btn" routerLink='/about-cognizant'>
    About
  </a>
</div>