.navbar {
    max-width: 83%;
    font-size: 20px;
    padding: 1%;
}

.navbar-brand, .navbar-brand:hover {
    color: blue;
    font-size: 38px;
    font-style: bold;
    font-family: arial;
    padding-left: 22%;
}
